* {
  font-family: "Karla";
  font-weight: 700;
  text-align: center;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F7FB;
}

h1 {
  font-weight: 700;
  color: #293264;
  margin: 20vh 0 0 0;
  padding: 0;
}

h3, h4 {
  font-weight: 400;
  color: #293264;
}

.start-page--container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.start-page--container > button {
  border: none;
  border-radius: 15px;
  color: #F5F7FB;
  background-color: #4D5B9E;
  width: 193px;
  height: 52px;
  font-family: "Inter";
  font-size: 16px;
  margin: 0 auto;
}

.quiz-page--container > button {
  width: 130px;
  height: 35px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  color: #F5F7FB;
  background-color: #4D5B9E; 
  font-family: "Inter";
  font-size: 14px;
  align-content: center;
}

.play--again {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 599px;
  margin: 0 auto;
}

.play--again > button {
  width: 130px;
  height: 35px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  color: #F5F7FB;
  background-color: #4D5B9E; 
  font-family: "Inter";
  font-size: 14px;
  align-content: center;
  margin-left: 20%;
}

pre {
  text-align: left;
}

h2 {
  text-align: left;
  color: #293264;
  font-size: 19px;
}

.question--wrapper {
  max-width: 599px;
  border-bottom: 0.79px solid #DBDEF0;
  margin: 0 auto;
}

.choices--wrapper {
  display: flex;
  flex-wrap: wrap;
}

p {
  margin: 0;
}

.choice, .choice--correct, .choice--selected,
.choice--unselected, .choice--incorrect {
  padding: 12px;
  font-family: "Inter";
  min-width: 60px;
  margin-right: 12px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  border-width: 0.79px;
  border-radius: 7.94px;
  color: #293264;
  line-height: 0;
}

.choice--unselected {
  background-color: #F5F7FB;
  border-color: #4D5B9E;
  margin-bottom: 15px;
}

.choice--selected {
  background-color: #D6DBF5;
  border-color: #D6DBF5;
  stroke-width: 0;
  margin-bottom: 15px;
}

.choice--correct {
  background-color: #94D7A2;
  border-color: #94D7A2;
  stroke-width: 0;
  margin-bottom: 15px;
}

.choice--incorrect {
  background-color: #F8BCBC;
  border-color: #F8BCBC;
  margin-bottom: 15px;
  stroke-width: 0;
}

.choice {
  border-color: #4D5B9E;
  line-height: 0;
  margin-bottom: 15px;
  color: #293264;
}